
<header class="navbar-wrapper">
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid cl"> <a class="logo navbar-logo f-l mr-10 hidden-xs" href="__PAGE__/aboutHui.shtml">H-ui.admin</a> <a class="logo navbar-logo-m f-l mr-10 visible-xs" href="__PAGE__/aboutHui.shtml">H-ui</a> 
			<span class="logo navbar-slogan f-l mr-10 hidden-xs">v3.1</span> 
			<a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
			<nav class="nav navbar-nav">
				<ul class="cl _header">
					<li class="" id="band1"><a href="javascript:;" class="dropDown_A"><i class="Hui-iconfont"></i> 切换账户 <i class="Hui-iconfont"></i></a>
					</li>

					<li class="" id="band2"><a href="javascript:;" class="dropDown_A"><i class="Hui-iconfont"></i> 切换账户 <i class="Hui-iconfont"></i></a>
					</li>

					<li class="" id="band3"><a href="javascript:;" class="dropDown_A"><i class="Hui-iconfont"></i> 切换账户 <i class="Hui-iconfont"></i></a>
					</li>

				</ul>
			</nav>
		<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
			<ul class="cl">
				<li style="margin-right: 20px;">
					<!-- 日历 -->
					<SCRIPT type=text/javascript src="__PAGE__/static/clock.js"></SCRIPT>
					<SCRIPT type=text/javascript>showcal();</SCRIPT>
        		</li>
				<li>超级管理员</li>
				<li class="dropDown dropDown_hover">
					<a href="#" class="dropDown_A">admin <i class="Hui-iconfont">&#xe6d5;</i></a>
					<ul class="dropDown-menu menu radius box-shadow">
						<li><a href="javascript:;" onClick="myselfinfo()">个人信息</a></li>
						<li><a href="#">切换账户</a></li>
						<li><a href="#">退出</a></li>
				</ul>
			</li>
			</ul>
		</nav>
	</div>
</div>
</header>
