
<aside class="Hui-aside">
	<div class="menu_dropdown bk_2  asideBox" id="aside1"">
		<dl id="menu-article" >
			<dt><i class="Hui-iconfont ">&#xe613;</i> 图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd class="selected">
				<ul>
					<li><a data-href="__PAGE__/article-list.html" data-title="图片管理" href="javascript:void(0)">图片管理</a></li>
			</ul>
		</dd>
	</dl>
		
	</div>


	<div class="menu_dropdown bk_2 admin_h-ui_menu_left  asideBox" id="aside2"">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 资讯管理2<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="__PAGE__/admin-permission.html" data-title="资讯管理" href="javascript:void(0)">资讯管理2</a></li>
				</ul>
			</dd>
		</dl>	
	</div>

	<div class="menu_dropdown bk_2  admin_h-ui_menu_left asideBox" id="aside3"">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 资讯管理3<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="__PAGE__/admin-list.html" data-title="资讯管理" href="javascript:void(0)">资讯管理3</a></li>
					<li><a data-href="__PAGE__/member-record-download.html" data-title="资讯管理" href="javascript:void(0)">资讯管理3</a></li>
				</ul>
			</dd>
		</dl>
	</div>


</aside>


</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>